<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nome do aplicativo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Início", "Index", "Home")</li>
                    <li>@Html.ActionLink("Categoria", "Index", "Categoria")</li>
                    <li>@Html.ActionLink("Produto", "Index", "Produto")</li>
                    <li>@Html.ActionLink("Cliente", "Index", "Cliente")</li>
                    <li>@Html.ActionLink("Estoque", "Index", "Estoque")</li>
                    <li>@Html.ActionLink("Pedido", "Index", "Pedido")</li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Carrinho
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @if (Session["carrinho"] != null)
                            {
                                foreach (var item in ((List<TCC_Beatriz.Models.Carrinho>)Session["carrinho"]))
                                {
                                    <li>@item.Produto.Nome - @item.Quantidade</li>
                                }
                                    <li><a href="/Pedido/FecharPedido" class="btn btn-info">Fechar Pedido</a></li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
